In [1]:
import pandas
import numpy as np

In [2]:
df = pandas.read_csv("Mjerenja2.csv")

In [3]:
df.head()

,ID,Ime plaze,Datum,Vrijeme uzorkovanja,Slanost,Temperatura mora,EC
0,6066,Preluk - zapad,13/05/2009,9:30,"34,78","16,3",10
1,6065,Preluk - sredina,13/05/2009,9:31,"35,36","16,3",0
2,6064,Preluk - istok,13/05/2009,9:34,"35,34","16,5",2
3,6063,Bivio - Kostanj-plaža za invalide,13/05/2009,9:41,"35,27","16,5",1
4,6062,Bivio - Rekreacijski centar,13/05/2009,9:45,"35,1","16,7",5

In [4]:
for beach in sorted(df["Ime plaze"].unique()):
    print('   "{}": (),'.format(beach))

   "Bivio - Dom umirovljenika": (),
   "Bivio - Kostanj-plaža za invalide": (),
   "Bivio - Rekreacijski centar": (),
   "Bivio plaža": (),
   "Bivio skalete": (),
   "Glavanovo istok": (),
   "Glavanovo zapad": (),
   "Grcevo": (),
   "Kantrida - Djecja bolnica": (),
   "Kantrida - Rekreacijski centar 3. Maj": (),
   "Kantrida - Vila Nora": (),
   "Kantrida - bazen istok": (),
   "Kantrida - bazen zapad": (),
   "Kantrida - istok": (),
   "Kantrida - zapad": (),
   "Kostrena - Ronilacki klub": (),
   "Kostrena - Stara voda": (),
   "Kostrena - uvala Svežanj": (),
   "Kostrena - Žurkovo": (),
   "Kupalište Hotela Jadran": (),
   "Preluk - istok": (),
   "Preluk - sredina": (),
   "Preluk - zapad": (),
   "Ružicevo": (),
   "Sablicevo": (),

In [6]:
len(df["Ime plaze"].unique())

25

In [7]:
df["Datum"].unique()

array(['13/05/2009', '26/05/2009', '9/6/2009', '24/06/2009', '8/7/2009',
       '21/07/2009', '6/8/2009', '18/08/2009', '1/9/2009', '15/09/2009',
       '14/05/2010', '25/05/2010', '8/6/2010', '23/06/2010', '6/7/2010',
       '20/07/2010', '3/8/2010', '17/08/2010', '31/08/2010', '14/09/2010'],
      dtype=object)

In [15]:
df[df["Ime plaze"] == "Sablicevo"]

,ID,Ime plaze,Datum,Vrijeme uzorkovanja,Slanost,Temperatura mora,EC
15,6050,Sablicevo,13/05/2009,10:43,"28,36","17,6",15
39,6050,Sablicevo,26/05/2009,10:00,"29,91",22,1
63,6050,Sablicevo,9/6/2009,10:03,"28,45",19,13
87,6050,Sablicevo,24/06/2009,9:35,"34,48",18,0
111,6050,Sablicevo,8/7/2009,9:46,"34,3",22,13
135,6050,Sablicevo,21/07/2009,9:27,"34,2","21,9",6
159,6050,Sablicevo,6/8/2009,9:20,"37,1","24,1",8
183,6050,Sablicevo,18/08/2009,9:50,"33,6","23,2",3
207,6050,Sablicevo,1/9/2009,9:40,"35,2",20,10
231,6050,Sablicevo,15/09/2009,10:52,"35,8","18,1",130
256,6050,Sablicevo,14/05/2010,10:52,"26,36",15,70
281,6050,Sablicevo,25/05/2010,9:32,"33,2","17,7",7
306,6050,Sablicevo,8/6/2010,10:05,"27,9","19,3",5
331,6050,Sablicevo,23/06/2010,9:37,"30,1","17,5",19
356,6050,Sablicevo,6/7/2010,9:32,34,"21,9",9
381,6050,Sablicevo,20/07/2010,8:52,"32,8","21,7",100
406,6050,Sablicevo,3/8/2010,9:32,"34,3","20,1",35
431,6050,Sablicevo,17/08/2010,10:12,"34,8","22,4",4
456,6050,Sablicevo,31/08/2010,9:30,"35,2","20,2",45
481,6050,Sablicevo,14/09/2010,9:23,"32,7","17,4",11

In [18]:
df["EC"].max()

290

In [5]:
df

,ID,Ime plaze,Datum,Vrijeme uzorkovanja,Slanost,Temperatura mora,EC
0,6066,Preluk - zapad,13/05/2009,9:30,"34,78","16,3",10
1,6065,Preluk - sredina,13/05/2009,9:31,"35,36","16,3",0
2,6064,Preluk - istok,13/05/2009,9:34,"35,34","16,5",2
3,6063,Bivio - Kostanj-plaža za invalide,13/05/2009,9:41,"35,27","16,5",1
4,6062,Bivio - Rekreacijski centar,13/05/2009,9:45,"35,1","16,7",5
...,...,...,...,...,...,...,...
485,6046,Grcevo,14/09/2010,9:40,"34,1","17,5",60
486,6045,Kostrena - Žurkovo,14/09/2010,9:45,"37,3","18,4",6
487,6044,Kostrena - Ronilacki klub,14/09/2010,9:48,"37,5","18,3",5
488,6043,Kostrena - uvala Svežanj,14/09/2010,9:52,37,"18,1",0
489,6042,Kostrena - Stara voda,14/09/2010,9:55,"36,6","18,3",0

In [14]:
# transform numbers from string to float
df["Slanost"] = df["Slanost"].apply(lambda x: float(x.replace(',','.')))
df["Temperatura mora"] = df["Temperatura mora"].apply(lambda x: float(x.replace(',','.')))

In [15]:
df

,ID,Ime plaze,Datum,Vrijeme uzorkovanja,Slanost,Temperatura mora,EC
0,6066,Preluk - zapad,13/05/2009,9:30,34.78,16.3,10
1,6065,Preluk - sredina,13/05/2009,9:31,35.36,16.3,0
2,6064,Preluk - istok,13/05/2009,9:34,35.34,16.5,2
3,6063,Bivio - Kostanj-plaža za invalide,13/05/2009,9:41,35.27,16.5,1
4,6062,Bivio - Rekreacijski centar,13/05/2009,9:45,35.10,16.7,5
...,...,...,...,...,...,...,...
485,6046,Grcevo,14/09/2010,9:40,34.10,17.5,60
486,6045,Kostrena - Žurkovo,14/09/2010,9:45,37.30,18.4,6
487,6044,Kostrena - Ronilacki klub,14/09/2010,9:48,37.50,18.3,5
488,6043,Kostrena - uvala Svežanj,14/09/2010,9:52,37.00,18.1,0
489,6042,Kostrena - Stara voda,14/09/2010,9:55,36.60,18.3,0

In [16]:
df.to_csv("mjerenja.csv")